<%= form_with(model: temp_week_day) do |form| %>
  <% if temp_week_day.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(temp_week_day.errors.count, "error") %> prohibited this temp_week_day from being saved:</h2>

      <ul>
        <% temp_week_day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :temp_dep_id, style: "display: block" %>
    <%= form.text_field :temp_dep_id %>
  </div>

  <div>
    <%= form.label :dep_name, style: "display: block" %>
    <%= form.text_field :dep_name %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.text_field :day %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :apertura, style: "display: block" %>
    <%= form.datetime_field :apertura %>
  </div>

  <div>
    <%= form.label :chiusura, style: "display: block" %>
    <%= form.datetime_field :chiusura %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
