<div id="<%= dom_id temp_week_day %>">
  <p>
    <strong>Temp dep:</strong>
    <%= temp_week_day.temp_dep_id %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= temp_week_day.dep_name %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= temp_week_day.day %>
  </p>

  <p>
    <strong>State:</strong>
    <%= temp_week_day.state %>
  </p>

  <p>
    <strong>Apertura:</strong>
    <%= temp_week_day.apertura %>
  </p>

  <p>
    <strong>Chiusura:</strong>
    <%= temp_week_day.chiusura %>
  </p>

</div>
