<p style="color: green"><%= notice %></p>

<%= render @temp_week_day %>

<div>
  <%= link_to "Edit this temp week day", edit_temp_week_day_path(@temp_week_day) %> |
  <%= link_to "Back to temp week days", temp_week_days_path %>

  <%= button_to "Destroy this temp week day", @temp_week_day, method: :delete %>
</div>
