<div id="<%= dom_id seat %>">
  <p>
    <strong>Space:</strong>
    <%= seat.space_id %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= seat.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= seat.typology %>
  </p>

  <p>
    <strong>Space name:</strong>
    <%= seat.space_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= seat.position %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= seat.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= seat.end_date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= seat.state %>
  </p>

</div>
