<div id="<%= dom_id temp_sp %>">
  <p>
    <strong>Temp dep:</strong>
    <%= temp_sp.temp_dep_id %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= temp_sp.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= temp_sp.typology %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= temp_sp.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= temp_sp.description %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= temp_sp.floor %>
  </p>

  <p>
    <strong>Number of seats:</strong>
    <%= temp_sp.number_of_seats %>
  </p>

  <p>
    <strong>State:</strong>
    <%= temp_sp.state %>
  </p>

</div>
