<p style="color: green"><%= notice %></p>

<%= render @temp_sp %>

<div>
  <%= link_to "Edit this temp sp", edit_temp_sp_path(@temp_sp) %> |
  <%= link_to "Back to temp sps", temp_sps_path %>

  <%= button_to "Destroy this temp sp", @temp_sp, method: :delete %>
</div>
