<div id="<%= dom_id favourite_space %>">
  <p>
    <strong>User:</strong>
    <%= favourite_space.user_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= favourite_space.department_id %>
  </p>

  <p>
    <strong>Space:</strong>
    <%= favourite_space.space_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= favourite_space.email %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= favourite_space.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= favourite_space.typology %>
  </p>

  <p>
    <strong>Space name:</strong>
    <%= favourite_space.space_name %>
  </p>

</div>
