<div id="<%= dom_id space %>">
  <p>
    <strong>Department:</strong>
    <%= space.department_id %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= space.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= space.typology %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= space.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= space.floor %>
  </p>

  <p>
    <strong>Number of seats:</strong>
    <%= space.number_of_seats %>
  </p>

  <p>
    <strong>State:</strong>
    <%= space.state %>
  </p>

</div>
