<div id="<%= dom_id department %>">
  <p>
    <strong>User:</strong>
    <%= department.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= department.manager %>
  </p>

  <p>
    <strong>Via:</strong>
    <%= department.via %>
  </p>

  <p>
    <strong>Civico:</strong>
    <%= department.civico %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= department.cap %>
  </p>

  <p>
    <strong>Citta:</strong>
    <%= department.citta %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= department.provincia %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= department.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= department.longitude %>
  </p>

  <p>
    <strong>Dep map:</strong>
    <%= department.dep_map %>
  </p>

  <p>
    <strong>Dep event:</strong>
    <%= department.dep_event %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

  <p>
    <strong>Floors:</strong>
    <%= department.floors %>
  </p>

  <p>
    <strong>Number of spaces:</strong>
    <%= department.number_of_spaces %>
  </p>

</div>
