<%= form_with(model: department) do |form| %>
  <% if department.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :manager, style: "display: block" %>
    <%= form.text_field :manager %>
  </div>

  <div>
    <%= form.label :via, style: "display: block" %>
    <%= form.text_field :via %>
  </div>

  <div>
    <%= form.label :civico, style: "display: block" %>
    <%= form.text_field :civico %>
  </div>

  <div>
    <%= form.label :cap, style: "display: block" %>
    <%= form.text_field :cap %>
  </div>

  <div>
    <%= form.label :citta, style: "display: block" %>
    <%= form.text_field :citta %>
  </div>

  <div>
    <%= form.label :provincia, style: "display: block" %>
    <%= form.text_field :provincia %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :dep_map, style: "display: block" %>
    <%= form.text_field :dep_map %>
  </div>

  <div>
    <%= form.label :dep_event, style: "display: block" %>
    <%= form.text_field :dep_event %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :floors, style: "display: block" %>
    <%= form.number_field :floors %>
  </div>

  <div>
    <%= form.label :number_of_spaces, style: "display: block" %>
    <%= form.number_field :number_of_spaces %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
