<div id="<%= dom_id temp_dep %>">
  <p>
    <strong>User:</strong>
    <%= temp_dep.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= temp_dep.name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= temp_dep.manager %>
  </p>

  <p>
    <strong>Via:</strong>
    <%= temp_dep.via %>
  </p>

  <p>
    <strong>Civico:</strong>
    <%= temp_dep.civico %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= temp_dep.cap %>
  </p>

  <p>
    <strong>Citta:</strong>
    <%= temp_dep.citta %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= temp_dep.provincia %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= temp_dep.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= temp_dep.lon %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= temp_dep.description %>
  </p>

  <p>
    <strong>Floors:</strong>
    <%= temp_dep.floors %>
  </p>

  <p>
    <strong>Number of spaces:</strong>
    <%= temp_dep.number_of_spaces %>
  </p>

  <p>
    <strong>Dep map:</strong>
    <%= temp_dep.dep_map %>
  </p>

  <p>
    <strong>Dep event:</strong>
    <%= temp_dep.dep_event %>
  </p>

</div>
