<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= reservation.department_id %>
  </p>

  <p>
    <strong>Space:</strong>
    <%= reservation.space_id %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= reservation.seat_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.email %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= reservation.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= reservation.typology %>
  </p>

  <p>
    <strong>Space name:</strong>
    <%= reservation.space_name %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= reservation.floor %>
  </p>

  <p>
    <strong>Seat num:</strong>
    <%= reservation.seat_num %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= reservation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= reservation.end_date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= reservation.state %>
  </p>

  <p>
    <strong>Is sync:</strong>
    <%= reservation.is_sync %>
  </p>

</div>
