<div id="<%= dom_id week_day %>">
  <p>
    <strong>Department:</strong>
    <%= week_day.department_id %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= week_day.dep_name %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= week_day.day %>
  </p>

  <p>
    <strong>State:</strong>
    <%= week_day.state %>
  </p>

  <p>
    <strong>Apertura:</strong>
    <%= week_day.apertura %>
  </p>

  <p>
    <strong>Chiusura:</strong>
    <%= week_day.chiusura %>
  </p>

</div>
