<div id="<%= dom_id quick_reservation %>">
  <p>
    <strong>User:</strong>
    <%= quick_reservation.user_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= quick_reservation.department_id %>
  </p>

  <p>
    <strong>Space:</strong>
    <%= quick_reservation.space_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= quick_reservation.email %>
  </p>

  <p>
    <strong>Dep name:</strong>
    <%= quick_reservation.dep_name %>
  </p>

  <p>
    <strong>Typology:</strong>
    <%= quick_reservation.typology %>
  </p>

  <p>
    <strong>Space name:</strong>
    <%= quick_reservation.space_name %>
  </p>

</div>
